.container {
    max-width: 750px;
  }
  
  
  body{
    background-color: #89cff0;

      
  }
  
  

  

   #appliancegrid {
    justify-content: center;
    border-left: 1px;
    min-width: 750px;

  
  }

  .col{



    height: 75px;
    padding: 1%;
    vertical-align: middle;
  }
  
  
  #dryerdropcontainer{
    margin-left: 34%;

  }